html body {
  background-color: #f5f5f5;
}

#wrapper {
  padding: 4rem;
}

.logo {
  width: 300px;
}

.logo.home {
  margin-bottom: 2rem;
}

.top-bar {
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.study-title {
  font-weight: 700;
}

.study-details {
  margin-bottom: 1rem;
}

.study-description{
  margin-bottom: 1rem;
}

.study-description p:last-of-type,
.study-consent-privacy p:last-of-type {
  margin-bottom: 0;
}

.study-consent-privacy h1,
.study-consent-privacy h2,
.study-consent-privacy h3,
.study-consent-privacy h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.study-consent-privacy ol li {
  margin-bottom: 0.75rem;
}

.consent-check {
  margin: 0;
  font-weight: 700;
}

#consent-checkbox:hover,
#consent-checkbox:hover + label {
  cursor: pointer;
  text-decoration: underline;
}

.button-bar {
  text-align: center;
}

.participate-button {
  width: 100%;
}

.card-body {
  background-color: #fff;
}

.start-button {
  width: 100%;
  margin-top: 2rem;
}